#page {
	width: auto;
}

#comm-header-inner,#content {
	width: 950px;
	margin-left: auto;
}

#logo {
	padding-top: 26px;
	padding-bottom: 12px;
}

#header .wrap-box {
	margin-top: -67px;
}

#logo .logo {
	position: relative;
	overflow: hidden;
	display: inline-block;
	width: 140px;
	height: 35px;
	font-size: 35px;
	line-height: 35px;
	color: #f40;
}

#logo .logo .i {
	position: absolute;
	width: 140px;
	height: 35px;
	top: 0;
	left: 0;
	background: url(http://a.tbcdn.cn/tbsp/img/header/logo.png);
}
.dib-wrap {
	font-size:0;
	*word-spacing:-1px
}
.dib-wrap .dib {
	font-size:12px;
	letter-spacing:normal;
	word-spacing:normal;
	vertical-align:top
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.dib-wrap {
	letter-spacing:-5px
}
}.dib {
	display:inline-block;
	*display:inline;
	*zoom:1
}

.kd-popup {
	position:relative;
	z-index:100;
	padding:3px;
	background:#f2f2f2;
	border:1px solid #a6a6a6;
	font-family:tahoma;
	font-size:12px;
	-moz-box-shadow:2px 2px 0 #ccc;
	-webkit-box-shadow:2px 2px 0 #ccc;
	box-shadow:2px 2px 0 #ccc
}
.kd-popup .box {
	background:#fff;
	padding:10px 15px 10px 10px;
	font-size:12px;
	margin-bottom:0;
	position:static
}
.kd-popup .hd {
	font-size:12px;
	font-weight:700;
	margin:0;
	color:#404040;
	line-height:18px;
	height:auto;
	border:0;
	background:0
}
.kd-popup .bd {
	margin-top:2px;
	line-height:20px;
	color:#404040;
	padding:0;
	border:0;
	background:0
}

input[type=text]:focus,textarea:focus {
	outline:0
}
.template {
	display:none
}
.order-table {
	width:100%;
	margin-top:20px;
	*table-layout:fixed
}
.order-table select {
	width:140px;
	height:24px
}
.order-table th {
	border-left:2px solid #fff;
	text-align:center;
	height:24px;
	line-height:24px
}
.order-table th.s-title {
	width:350px;
	border-left:0
}
.order-table th.s-price {
	width:148px
}
.order-table th.s-amount {
	width:118px
}
.order-table th.s-agio {
	width:191px
}
.order-table th.s-total {
	width:138px
}
.order-table th hr {
	height:3px;
	background-color:#B2D1FF;
	color:#B2D1FF;
	*display:block
}
.order-table tfoot td {
	text-align:right
}
.tb-promotion {
	margin-bottom:10px
}
.order-table tfoot .point-out {
	padding:10px 0
}
.order-table tfoot .point-in {
	position:relative;
	padding-bottom:10px
}

.address-confirm .tmall-shop-vip-popup {
	position:absolute;
	z-index:9999;
	top:-9999px;
	left:-9999px
}
.address-confirm .tmall-shop-vip-popup .kd-popup {
	border-color:#a6a6a6;
	background:#f2f2f2;
	position:relative
}
.address-confirm .tmall-shop-vip-popup .kd-popup .top {
	background-position:-3px 0;
	z-index:9999;
	left:102px
}
.address-confirm .tmall-shop-vip-popup .kd-popup .box {
	width:230px;
	padding:0 10px
}
.address-confirm .tmall-shop-vip-popup .kd-popup .box p {
	height:26px;
	line-height:26px;
	border-bottom:solid 1px #f2f2f2;
	text-align:left
}
.tmall-shop-vip-popup .kd-popup .box p:last-child {
	border:0
}
.tmall-shop-vip-popup .kd-popup .box p .shop-name {
	display:inline-block;
	zoom:1;
	margin-right:10px;
	width:110px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis
}
.tmall-shop-vip-popup .kd-popup .box p .level {
	display:inline-block;
	zoom:1;
	width:60px;
	vertical-align:top;
	overflow:hidden;
	height:26px
}
.tmall-shop-vip-popup .kd-popup .box p .level em {
	font-size:10px;
	padding:1px 3px 2px;
	color:#fff;
	background-color:#F08080
}
.tmall-shop-vip-popup .kd-popup .box p .vip-points {
	display:inline-block;
	zoom:1;
	vertical-align:top
}
.order-table tfoot .point-in .t {
	font-weight:700
}
.order-go {
	clear:both;
	text-align:right
}
.back {
	padding-left:16px;
	background:url(http://a.tbcdn.cn/app/tc/img/back.png) no-repeat 0 3px;
	position:absolute;
	right:150px;
	bottom:-28px;
	width:60px
}
.btn-go {
	width:127px;
	height:36px;
	position:absolute;
	right:-1px;
	bottom:-35px;
	_right:-2px;
	_bottom:-36px;
	font:700 18px/36px arial
}
.btn-go b {
	background:url(http://img04.taobaocdn.com/tps/i4/T1OF12XbxrXXXXXXXX-128-36.png) no-repeat scroll 0 1px transparent;
	width:127px;
	height:36px;
	float:left;
	position:absolute;
	top:0;
	left:0
}

.blue-line {
	background:url(../images/grey_line.png) no-repeat 0 bottom
}
.grey-line {
	background:url(../images/grey_line.png) no-repeat 0 bottom
}
.lightgrey-line {
	background:url(../images/grey_line.png) no-repeat 0 bottom
}
.label-error {
	background-color:#FFF2E9;
	border:1px solid #16a085;
	margin:5px 0 0;
	padding:0 5px;
	display:inline-block;
	line-height:18px;
	*display:inline;
	*zoom:1
}
.order-go .confirm-error {
	clear:both
}
.order-go .confirm-error .msg {
	margin-bottom:10px;
	float:right;
	clear:right
}
.item-c2b-mobile-info {
	background-color:#fafcff;
	border-top:solid 1px #fff
}
.c2b-mobile-info {
	margin:10px;
	color:gray;
	overflow:hidden
}
.order-table .item-c2b-mobile-info .c2b-mobile-info .mobile-attr {
	width:205px;
	padding-left:8px;
	padding-right:5px;
	border-right:1px solid #EFEFEF;
	border-bottom:0;
	vertical-align:top
}
.c2b-mobile-info .last {
	border:0
}
.c2b-mobile-info .mobile-attr ul {
	padding-left:25px
}
.c2b-mobile-info .mobile-attr li {
	line-height:26px;
	background:url(http://img01.taobaocdn.com/tps/i1/T1TsFUFodbXXbo.KDr-3-5.png) no-repeat 0 12px;
	padding-left:8px
}
.order-table .first {
	height:25px
}
.order-table .shop {
	line-height:30px
}
.order-table .shop .seller {
	margin-left:30px
}
.order-table .shop .promo {
	text-align:right
}
.order-table .shop .promo div {
	height:25px;
	overflow:hidden
}
.order-table .other {
	background-color:#f2f7ff
}
.order-table .other td {
	border-bottom:1px solid #fff;
	vertical-align:top
}
.order-table .shop-total {
	background-color:#F2F7FF;
	text-align:right
}
.order-table .shop-total td {
	text-align:right;
	padding:5px 0;
	height:45px;
	line-height:45px
}
.order-table .item td.s-total {
	text-align:right
}
.other-line .title,.other-line .sel,.other-line .fee {
	text-align:center;
	line-height:40px
}
.other-line .title {
	width:120px;
	text-align:right;
	position:relative;
	right:25px
}
.input-disabled {
	background-color:#ccc;
	cursor:not-allowed
}
.other-line .sel {
	width:194px
}
.other-line .fee {
	width:136px;
	*width:138px;
	text-align:right
}
.other .price,.order-table .shop-total .price,.cod-tip {
	margin-right:15px
}
.other .sel select {
	width:140px
}
.icon img {
	vertical-align:middle
}


.tm-bubble {
	position:relative;
	display:inline-block;
	padding:1px 2px 2px 4px;
	line-height:1.5;
	text-align:left;
	word-wrap:break-word;
	background:#fff8d9;
	border:1px solid #febe8f;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	*display:inline;
	*zoom:1
}
.tm-bubble .title {
	color:#f60
}

.payAnother-tip {
	display:none
}
.user-info {
	width:498px
}
.user-info .wrap {
	margin-left:10px;
	border-right:1px solid #fff
}
.extra-info {
	width:452px;
	border-left:1px solid #fff;
	margin-left:-1px
}
.extra-info .extra-area {
	border-top:1px solid #fff
}
.extra-info .extra-area .content {
	width:304px;
	text-align:left;
	padding-left:26px;
	line-height:40px;
}
.xb a,.xb span {
	vertical-align:middle
}
.order-table .s-title .xb span {
	margin-right:0
}

.xb .xb-truth {
	background-position:-188px 0
}
.xb .xb-auth {
	background-position:-338px 0
}
.xb .xb-return {
	background-position:-156px 0
}
.xb .xb-quality {
	background-position:-140px 0
}
.xb .xb-thunder {
	background-position:-297px 0
}
.xb .xb-guarantee {
	background-position:-319px 0
}

.order-table .item {
	background-color:#fafcff
}
.order-table .item td {
	text-align:center;
	overflow:hidden;
	padding:5px 0;
	height:70px
}
.order-table .gift {
	background-color:#fffaf2
}
.order-table .item .s-title {
	text-align:left;
	padding-left:70px
}
.order-table .item .title {
	display:block;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	width:280px;
	word-break:break-all;
	cursor:pointer
}
.order-table .item .s-title .props {
	color:gray
}
.order-table .item .s-title .props span {
	margin-right:5px
}
.order-table .item .s-title .itempic {
	float:left;
	margin-left:-60px;
	border:1px solid #ccc;
	width:50px;
	height:50px
}
.order-table .item .price {
	margin-right:15px
}
.order-table .item .s-agio select {
	width:140px
}
.icon-3c em {
	color:#fff;
	text-indent:-9999px;
	display:inline-block;
	*margin-top:5px;
	overflow:hidden;
	display:none!important
}
.address {
	margin-bottom:40px
}
.address .manage-address {
	float:right;
	font-size:12px;
	font-weight:400
}
.address .set-default {
	margin-left:15px
}
.address h3 {
	border-bottom:2px solid #f1f1f1;
	margin-bottom:20px
}
.address .address-list li {
	border:1px solid #fff;
	*zoom:1;
	line-height:24px;
	padding-left:75px;
	position:relative;
	*padding-top:2px;
	*padding-bottom:2px;
	*border:0
}
.address .address-list li:hover {
	background-color:#fffae5
}
.address li input,.address li label {
	vertical-align:middle
}
.address li label {
	}.address li.selected {
	background-color:#fff5cc;
	border:1px solid #5cbdaa
}
.address .marker {
	background:url(http://img04.taobaocdn.com/tps/i4/T1sGyVXmlfXXXXXXXX-14-23.gif) no-repeat transparent;
	position:absolute;
	top:6px;
	_top:1px;
	left:10px;
	width:15px;
	height:25px;
	display:none
}
.address .marker-tip {
	position:absolute;
	top:0;
	left:30px;
	color:#048f74;
	font-weight:700;
	display:none;
	_height:24px;
	_line-height:24px
}
.address .modify {
	display:none;
	position:absolute;
	right:10px
}
.address li.selected .marker,.address li.selected .marker-tip,.address li.selected .modify {
	display:block
}
.address .address-bar {
	margin-top:5px
}
.address .new {
	margin-left:103px;
	background:url(../images/add_address.png) no-repeat 0 -1px #fff;
	width:90px;
	height:25px;
	display:inline-block;
	font-size:0;
	text-indent:-99px;
	-webkit-text-size-adjust:none;
	vertical-align:text-top
}
.address .edit {
	margin-left:103px;
	display:inline-block
}
.other-address {
	width:915px;
	padding:15px;
	border:3px solid #FFF7D8;
	margin-left:35px;
	background-color:#fff;
	position:absolute;
	left:-9999px;
	top:-9999px
}
.other-address .title {
	padding-left:8px;
	float:left;
	width:85px;
	text-align:right;
	color:#404040;
	_position:relative
}
.other-address li {
	line-height:24px;
	margin-bottom:5px
}
.other-address li p {
	overflow:hidden;
	padding-left:10px;
	position:relative;
	*zoom:1
}
.other-address li em {
	position:absolute;
	font-style:normal;
	color:red;
	line-height:24px;
	font-family:simsun;
	left:0
}
.other-address hr {
	margin:10px 0 0;
	color:#D1D7DC;
	background-color:#D1D7DC;
	border:0;
	height:1px
}
.other-address select {
	height:23px;
	line-height:23px;
	color:#404040;
	width:140px;
	*vertical-align:middle
}
.other-address input {
	height:22px
}
.other-address textarea {
	padding:2px;
	height:44px
}
.other-address .go {
	margin-left:102px
}
.other-address .tips {
	color:gray;
	vertical-align:middle
}
.other-address h3 {
	color:gray;
	margin-bottom:20px
}
.other-address p {
	*display:inline
}
.other-address .hd {
	position:relative
}
.other-address .new-buyer-notice {
	color:#000
}
.address .J_Msg {
	display:inline-block;
	*display:inline;
	vertical-align:middle
}
#temp-address.selected {
	background-color:#FFF;
	border:1px solid #5cbdaa;
	position:relative
}
#temp-address.selected .address-info {
	padding-left:10px
}
.max-notice {
	position:absolute;
	left:103px;
	top:0
}
.other-address .cancel span,.address-list .cancel span {
	display:none
}

.address .address-loading {
	display:none
}
.address-list .tip {
	color:gray;
	vertical-align:middle;
	margin-left:20px
}
.address-list label em {
	color:gray
}
.address-list .selected label,.address-list .selected label em {
	font-weight:700;
	font-size:14px
}
.other-address .default-addr label,.other-address .default-addr input {
	vertical-align:middle
}
.other-address .default-addr label {
	padding-left:0
}
.other-address .default-addr input {
	height:auto
}
.address li.selected {
	margin-bottom:7px;
	margin-top:5px;
	-webkit-box-shadow:5px 5px 0 #f3f3f3;
	-moz-box-shadow:5px 5px 0 #f3f3f3;
	box-shadow:5px 5px 0 #f3f3f3;
	line-height:32px
}
.address-confirm {
	position:relative;
	padding-top:10px
}
.address-confirm .kd-popup {
	float:right;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	border-color:#16a085;
	right:0;
	background-color:#ffebcc
}

.order-table .insure label,.order-table .insure input,.insure .fare-insure .price,.order-table .insure-tip .price {
	vertical-align:middle
}
.order-table .insure-wrap {
	margin-right:10px
}
.order-table .insure-tip .price {
	margin-right:15px;
	*margin-right:22px;
	_margin-right:18px
}
.order-table .insure-wrap .price {
	vertical-align:baseline;
	margin-right:0
}
/*!Taobao Style Platform Copyright(c)*/ 
body {
	font:12px/1.5 Tahoma,Helvetica,Arial,'\5b8b\4f53',sans-serif;
}
html,legend {
	color:#404040;
	background:#fff;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img {
	border:none;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
li {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
}
h1 {
	font-size:18px;
}
h2 {
	font-size:16px;
}
h3 {
	font-size:14px;
}
q:before,q:after {
	content:'';
}
abbr,acronym {
	border:none;
	font-variant:normal;
}
sup {
	vertical-align:text-top;
}
sub {
	vertical-align:text-bottom;
}
input,button,textarea,select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}
input,button,textarea,select {
	*font-size:100%;
}
select,input,button,textarea {
	font:100% Tahoma,Helvetica,Arial,sans-serif;
}
table {
	font-size:inherit;
	font:100%;
}
pre,code,kbd,samp,tt {
	font-family:'Courier New',Courier,monospace;
}
small {
	font-size:100%;
}
a {
	color:#36c;
	text-decoration:none;
}
a:hover {
	color:#f60;
	text-decoration:underline;
}
abbr,acronym {
	border-bottom:1px dotted;
	cursor:help;
}
ins {
	text-decoration:none;
}
del {
	text-decoration:line-through;
}
hr {
	color:#D1D7DC;
	background-color:#D1D7DC;
	border:none;
	height:1px;
}
html {
	overflow-y:scroll;
}
#page,#page3 {
	width:950px;
	margin-top:60px;
	margin-left:auto;
	margin-right:auto;
}
#page3 {
	width:750px;
}
.col-main {
	float:left;
	width:100%;
}
.col-sub,.col-extra {
	float:left;
}
#footer {
	border-top:0px solid #D1D7DC;
	width:1000px;
	height:50px;
}


