@charset "utf-8";
/* CSS Document */
/**样式重置**/
* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: none;
	font-size: 12px;
	color: #4d4d4d;
	font-family:"微软雅黑";
	text-decoration: none;
	font-weight: normal;
	outline: none ;
}


/******************商品详情页************************************/
.Xnavigation{
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #cd2426;
	min-width: 1200px;
}
.Xnavigation02>a>p{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #c22629;
	line-height: 40px;
	margin-left: 360px;
	float: left;
}
.Xnavigation03>a>p{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #1c1b19;
	line-height: 40px;
	margin-left: 60px;
	float: left;
}
.Xnavigation03>a>p:hover{
	color: #C22629;
}
.Xnavigation04>a>p{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #1c1b19;
	line-height: 40px;
	margin-left: 60px;
	float: left;
}
.Xnavigation04>a>p:hover{
	color: #C22629;
}
.Xnavigation05>a>p{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #1c1b19;
	line-height: 40px;
	margin-left: 60px;
	float: left;
}
.Xnavigation05>a>p:hover{
	color: #C22629;
}
.Xnavigation06>a>p{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #1c1b19;
	line-height: 40px;
	margin-left: 60px;
	float: left;
}
.Xnavigation06>a>p:hover{
	color: #C22629;
}
.Xnavigation07>a>p{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #1c1b19;
	line-height: 40px;
	margin-left: 60px;
	float: left;
}
.Xnavigation07>a>p:hover{
	color: #C22629;
}
.Xnavigation08>a>p{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #1c1b19;
	line-height: 40px;
	margin-left: 60px;
	float: left;
}
.Xnavigation08>a>p:hover{
	color: #C22629;
}
.Detailspage{
	margin-top:40px;
	width: 100%;
	height: 596px;
	min-width: 1200px;
	
}
.goodsphotos{
	width: 1200px;
	height: 100%;
	margin: auto;
	overflow: flow;
}
.Xcontent02>a>p{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #595959;
	margin-top: 30px;
	float: left;
}
.Xcontent02>a>p:hover{
	color: #cd2426;
}
.Xcontent03>p{
	font-family: "微软雅黑";
	font-size: 12px;
	color: #595959;
	margin-top: 32px;
	float: left;
	margin-left: 2px;
	cursor: pointer;
}
.Xcontent04>p{
	font-family: "微软雅黑";
	font-size: 12px;
	color: #595959;
	margin-top: 33px;
	float: left;
	margin-left: 2px;
	cursor: pointer;
}
.Xcontent05{
	width: 1198px;
	height: 484px;
	border: 1px solid #a4a4a4;
	margin-top: 70px;
}
.bigphoto{
	width: 429px;
	height: 430px;
	margin-top: 26px;
	margin-left: 40px;
	float: left;
}
.smallphotos{
	float: left;
	width: 78px;
	height: 430px;
	margin-top: 26px;
	margin-left: 20px;
}
.smallphoto01{
	width: 76px;
	height: 76px;
	border: 1px solid #e8e8e8;
}
.smallphoto01>img{
	width: 100%;
	height: 100%;
}
.smallphoto02{
	width: 76px;
	height: 76px;
	margin-top: 10px;
	border: 1px solid #e8e8e8;
}
.smallphoto02>img{
	width: 100%;
	height: 100%;
}
.smallphoto03{
	width: 76px;
	height: 76px;
	margin-top: 10px;
	border: 1px solid #e8e8e8;
}
.smallphoto03>img{
	width: 100%;
	height: 100%;
}
.smallphoto04{
	width: 76px;
	height: 76px;
	margin-top: 10px;
	border: 1px solid #e8e8e8;
}
.smallphoto04>img{
	width: 100%;
	height: 100%;
}
.smallphoto05{
	width: 76px;
	height: 76px;
	border: 1px solid #e8e8e8;
	margin-top: 10px;
}
.smallphoto05>img{
	width: 100%;
	height: 100%;
}
.maintheme{
	width: 554px;
	height: 484px;
	float: right;
}
.title>a>p{
	font-family: "微软雅黑";
	font-size: 24px;
	color: #333;margin-top: 26px;
	float: left;
}
.image01>img{
	float: left;
	margin-top: 32px;
	margin-left: 10px;
}
.describe>p{
	font-family: "微软雅黑";
	font-size: 12px;
	color: #9f9f9f;
	margin-top: 65px;
}
.price-service{
	width: 502px;
	height: 176px;
	background: #f5f3ef;
	margin-top: 30px;
	overflow: hidden;
}
.price-discribe{
	font-family: "微软雅黑";
	font-size: 12px;
	color: #666a6e;
	margin-top: 20px;
	margin-left: 16px;
	float: left;
}
.price{
	font-family:"微软雅黑";
	font-size: 18px;
	float: left;
	color: #d7282d;
	margin-left: 26px;
	margin-top: 4px;
}
.price>span{
	font-family: "微软雅黑";
	font-size: 28px;
	color: #cd2426;
	
}
.service01{
	height: 20px;
	width: 502px;
	margin-top: 50px;
}
.cuxiao{
	font-family: "微软雅黑";
	font-size: 12px;
	color: #666a6e;
	margin-left: 16px;
	line-height: 20px;
	float: left;
}
.cuxiao>img{
	float: left;
	margin-top: 1px;
	margin-left: 28px;
}
.coupon{
	font-family: "微软雅黑";
	font-size: 12px;
	line-height: 20px;
	color: #cd2426;
	margin-left: 10px;
	float: left;
}
.service02{
	height: 20px;
	width: 502px;
	margin-top: 11px;
}
.service_describe01{
	font-family: "微软雅黑";
	font-size: 12px;
	color: #666a6e;
	margin-left: 16px;
	line-height: 20px;
	float: left;
}
.service_describe02{
	font-family: "微软雅黑";
	font-size: 12px;
	color: #6e7372;
	margin-left: 28px;
	float: left;
	line-height: 20px;
}

.color{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #605f5f;
	margin-top: 34px;
	margin-left: 16px;
	float: left;
}
.showpic01{
	border: 1px solid #e8e8e8;
	width: 50px;
	height: 50px;
	float: left;
	margin-top: 16px;
	margin-left: 30px;
}
.showpic01>img{
 width: 100%;
	height: 100%;

	
}
.showpic02>img{
	width: 100%;
	height: 100%;
	
}
.showpic02{
	float: left;
	margin-top: 16px;
   margin-left: 20px;	
	border: 1px solid #e8e8e8;
	width: 50px;
	height: 50px;
}
.amount{
	width: 554px;
	height: 100px;
	overflow: hidden;
}
.count{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #605f5f;
	line-height: 100px;
	margin-left: 16px;
	float: left;
}
.reduce{
	float: left;
	margin-top: 34px;
	margin-left: 30px;
}
	
.input{
	height: 32px;
	width: 60px;
	margin-top: 34px;
	border: 1px solid #dddddd;
	line-height: 30px;
	text-align: center;
	float: left;
}
.add>img{
	float: left;
	margin-top: 34px;
}
.Xagain{
	width: 1198px;
	height: 334px;
	margin: auto;
	border: 1px solid #e1e1e1;
	margin-top: 10px;
}
.Xagain01{
	width: 1198px;
	height: 42px;
	background: #f5f5f5;
}
.Xagain01>p{
	font-family: "微软雅黑";
	font-size: 18px;
	color: #686868;
	line-height: 42px;
	margin-left: 20px;
}
.Xcontent34{
	margin-left: 16px;
	float: left;
	
}
.purchase{
	float: left;
	margin-left: 20px;
}
.Xagain02>a>img{
	margin-top: 120px;
	margin-left: 20px;
	float: left;
}
.Xagain03>a>img{
	float: left;
	margin-left: 20px;
}
.Xagain04>a>img{
	float: left;
	margin-left: 20px;
}
.Xagain05>a>img{
	float: left;
	margin-left: 20px;
}
.Xagain06>a>img{
	float: left;
	margin-left: 20px;
}
.Xagain07>a>img{
	float: right;
	margin-right: 20px;
	margin-top: 120px;
}

.Xagain09>a>p{
	font-family: "微软雅黑";
	font-size: 18px;
	color: #686868;
	float: left;
	margin-top: -40px;
	margin-left: 100px;
}
.Xagain09>a>p>span{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #cd2426;
	line-height: 40px;
}
.Xagain10>a>p{
	font-family: "微软雅黑";
	font-size: 18px;
	color: #686868;
	float: left;
	margin-top: -40px;
	margin-left: 140px;
}
.Xagain10>a>p>span{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #cd2426;
	line-height: 40px;
}
.Xdetails{
	width: 1200px;
	height: 2800px;
	margin: auto;
	margin-top: 40px;
	position: relative;
	
}
.Xdetails01{
	width: 780px;
	height: 2800px;
	float: left;

}
.Xdetails02{
	width: 168px;
	height: 38px;
	background: #f5f5f5;
	border: 1px solid #e1e1e1;
	float: left;
	
}
.Xdetails03{
	width: 170px;
	height: 2px;
	background: #d7282d;
	position: absolute;
	top: 0;
}
.Xdetails04{
	width: 168px;
	height: 38px;
	background: #f5f5f5;
	border: 1px solid #e1e1e1;
	float: left;
	border-left: none;
}
.Xdetails05{
	width: 440px;
	height: 38px;
	background: #f5f5f5;
	border: 1px solid #e1e1e1;
	float: left;
	border-left: none;
}
.Xdetails001{
	width: 780px;
	height: 40px;
	background: #00f;
	
}
.Xdetails02>p{
	font-family: "微软雅黑";
	font-size: 16px;
	color: #333333;
	line-height: 38px;
	text-align: center;
	
}
.Xdetails04>p{
	font-family: "微软雅黑";
	font-size: 16px;
	color: #333333;
	line-height: 38px;
	text-align: center;
}
.Xdetails04>p>span{
	color: #cd2426;
	font-family: "微软雅黑";
	font-size: 16px;
}
.Xdetails002{
	width: 780px;
	height: 2760px;
	
}
.Xdetails008{
	width: 310px;
	height: 2200px;
	float: right;
}
.Xdetails009{
	width: 308px;
	height: 38px;
	background: #f5f5f5;
	border: 1px solid #e1e1e1;
}
.Xdetails009>p{
	font-family: "微软雅黑";
	font-size: 18px;
	color: #333;
	line-height: 38px;
	text-align: center;
}
.Xdetails010{
	height: 862px;
	width: 308px;
	border: 1px solid #e1e1e1;
	border-top: none;
	
}
.Xdetails011>img{
	margin-left: 24px;
	margin-top: 26px;
}
.Xdetails012>img{
	margin-left: 24px;
	margin-top: 26px;
}
.Xdetails013>img{
	margin-left: 24px;
	margin-top: 26px;
}
.Xdetails014>img{
	margin-left: 24px;
	margin-top: 26px;
}
.Xdetails015>img{
	margin-left: 24px;
	margin-top: 26px;
}
.Xdetails016{
	width: 308px;
	height: 38px;
	background: #f5f5f5;
	border: 1px solid #e1e1e1;
	margin-top: 60px;
}
.Xdetails016>p{
	font-family: "微软雅黑";
	font-size: 18px;
	color: #333;
	line-height: 38px;
	text-align: center;
}
.Xdetails017{
	height: 1116px;
	width: 308px;
	border: 1px solid #e1e1e1;
	border-top: none;
	
}
.Xdetails018>a>img{
	margin-left: 36px;
	margin-top: 40px;
}
.Xdetails019>a>img{
	margin-left: 30px;
	margin-top: 30px;
}
.Xdetails020>a>img{
	margin-left: 36px;
	margin-top: 60px;
}
.Xdetails021>a>img{
	margin-left: 36px;
	margin-top: 40px;
}
