<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">
        
        
        
     <!-- 后台的注入 -->
	 <bean id="adminInfoAction" class="action.AdminAction" scope="prototype">
		<property name="iAdminInfoService" ref="iAdminInfoService" />
	 </bean>
	 
	 <bean id="iAdminInfoService" class="service.impl.AdminInfoService">
		<property name="iAdminInfoDao" ref="iAdminInfoDao" />
	</bean> 
	
	 <bean id="iAdminInfoDao" class="dao.impl.AdminInfoDao">
		 <property name="sessionFactory" ref="sessionFactory" /> 
	</bean>
</beans>